{%  extends 'base.html.twig' %}

{% block body %}
      <h1>Bienvenue dans ce blog</h1>

      {%  if age > 18 %}
            <p>Tu es majeur</p>
      {%  else %}
            <p>Tu es mineur</p>
      {%  endif %}

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora nostrum explicabo dolore beatae inventore fugiat consequuntur impedit, aliquid iusto quod repellendus laudantium accusamus laboriosam eaque consequatur nihil aliquam quaerat! Ipsa temporibus commodi possimus deleniti vitae adipisci exercitationem explicabo eaque nobis.</p>
      <p>Maxime quos {ipsum omnis quibusdam debitis culpa quia inventore, unde alias pariatur facilis veniam repellendus blanditiis nisi expedita, magni et sunt esse qui voluptatibus voluptatem accusamus earum. Consectetur ullam commodi et ratione voluptate corporis sint, aspernatur provident est quisquam. Veritatis?</p>

{% endblock %} 










